Rules for r/sorceryofthespectacle
Rules that visitors must follow to participate. May be used as reasons to report or ban.

1.
No low SNR post
Posts & Comments
Reported as: Low Signal To Noise Ratio
Happy to have few nonsense post... too many and people stop coming. If so, we shall remove it.

If posted too much that it becomes a hassle. We ban. Simple