Rules for r/awwnimate
Rules that visitors must follow to participate. May be used as reasons to report or ban.

1.
No NSFW posts.
Posts & Comments
Reported as: NSFW
Please direct all posts which are more fanservicey than moe to /r/pantsu.


2.
Animated/interactive moe art of any variety is welcome.
Posts only
Reported as: Animated/interactive moe art of any variety is welcome.
Is it Moe? / Moe: Origins.


3.
Include the name of the anime in the title.
Posts only
Reported as: Include the name of the anime in the title.
If your post shows characters from a particular anime, include its name within [brackets] in the title of the post. If the characters are not from an established use [Original].


4.
Post the source in the comments.
Posts only
Reported as: Post the source in the comments.
Comment with a link to the artist's original post and/or public profile or if there is none available, at least mention their name.

You can use these sites/tools for finding the franchise title and artist:

IQDB
SauceNao (addons)
trace.moe
Google Images
Image Search Addon for Firefox

5.
Max. 4 posts a day.
Posts only
Reported as: Max. 4 posts a day.
Do not submit more than 4 posts per 24-hour period.


6.
No reposts within two months.
Posts only
Reported as: No reposts within two months.
Duplicates are allowed but new content is always preferred. Do not repost content that has been already posted within two months.


7.
Be nice to each other.
Comments only
Reported as: Be nice to each other.
Let’s appreciate cute girls in a friendly environment and be nice to each other.

